<!doctype html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/menu'); %>
        <main class="landing container">
            <%- include('./partials/header'); %>
            <div class="row">
                <div class="sub-head col-md-12 text-center">
                    <h4>A free to use tool for businesses in need of a waiting list.</h4>
                </div>
                <div class="button-container">
                    <div class="col-md-12 text-center">
                        <a href="/user/signup">
                            <button>Let's Get Started</button>
                        </a>
                    </div>
                    <div class="col-md-12 text-center">
                        <a href="/user/login">
                            <button>Already a Member?</button>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>