body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.932292) 17.19%, rgba(250, 150, 57, 01) 125%);
    font-weight: 100;
}
.head {
    margin: 65px 0 30px 0;
}
.sub-head {
    border-bottom: 1px solid black;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    padding-bottom: 25px;
}
.landing .button-container {
    margin-top: 65px;
}
.landing .button-container button {
    min-width: 220px;
    font-size: 22px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 3px;
    margin-bottom: 16px;
    padding: 8px 16px;
}
.signup-form input {
    width: 100%;
    font-size: 24px;
}
.next-btn {
    left: 100%;
    position: absolute;
    transform: translateX(-100%);
}
.signup-form .button-container {
    position: relative;
    margin-top: 16px;
}